<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>KirjauduServlet</servlet-name>
        <servlet-class>servlet.KirjauduServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjektitServlet</servlet-name>
        <servlet-class>servlet.ProjektitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KirjauduUlosServlet</servlet-name>
        <servlet-class>servlet.KirjauduUlosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PoistaProjektiServlet</servlet-name>
        <servlet-class>servlet.PoistaProjektiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LisaaTyotehtavaServlet</servlet-name>
        <servlet-class>servlet.LisaaTyotehtavaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PoistaTyotehtavaServlet</servlet-name>
        <servlet-class>servlet.PoistaTyotehtavaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LisaaTyontekijaProjektiinServlet</servlet-name>
        <servlet-class>servlet.LisaaTyontekijaProjektiinServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KirjaaTuntejaServlet</servlet-name>
        <servlet-class>servlet.KirjaaTuntejaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>KirjauduServlet</servlet-name>
        <url-pattern>/Kirjaudu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjektitServlet</servlet-name>
        <url-pattern>/Projektit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KirjauduUlosServlet</servlet-name>
        <url-pattern>/KirjauduUlos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PoistaProjektiServlet</servlet-name>
        <url-pattern>/PoistaProjekti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LisaaTyotehtavaServlet</servlet-name>
        <url-pattern>/LisaaTyotehtava</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PoistaTyotehtavaServlet</servlet-name>
        <url-pattern>/PoistaTyotehtava</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LisaaTyontekijaProjektiinServlet</servlet-name>
        <url-pattern>/LisaaTyontekijaProjektiin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KirjaaTuntejaServlet</servlet-name>
        <url-pattern>/KirjaaTunteja</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
