/* 
    Document   : style
    Created on : 28-Aug-2013, 10:12:54
    Author     : mhaanran
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body {
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

#formfield {
    width: 195px;
}
th,td {
    text-align:left;  
    width: 200px;
    border: 0.08em solid black;
    
}
#projektitlista {
    width: 200px;
    text-align: left;
}
.viikkoraportti {
    width: 150px;
}
.viikkoraporttiselitys {
    width:200px;
}
#summa {
    margin-top: 0.2em;
    border: 0.08em solid black;
}